![iceberg-logo](https://www.apache.org/logos/res/iceberg/iceberg.png)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Jupyter").enableHiveSupport().getOrCreate()

spark

24/09/01 10:22:46 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
24/09/01 10:22:47 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
spark.sparkContext.getConf().get("fs.s3.impl")

## Load Two Months of NYC Taxi/Limousine Trip Data

This notebook uses the New York City Taxi and Limousine Commission Trip Record Data available on the AWS Open Data Registry. This contains data of trips taken by taxis and for-hire vehicles in New York City. This data is stored in an iceberg table called `taxis`.

To be able to rerun the notebook several times, let's drop the table and the views if they exist to start fresh.

In [3]:
%%sql

CREATE DATABASE IF NOT EXISTS nyc;

++
||
++
++

In [10]:
%%sql

DROP TABLE IF EXISTS nyc.taxis

++
||
++
++

In [7]:
%%sql

DROP VIEW IF EXISTS nyc.long_distances

++
||
++
++

In [8]:
%%sql

DROP VIEW IF EXISTS nyc.negative_amounts

++
||
++
++

## Create the table

In [11]:
%%sql

CREATE TABLE nyc.taxis (
    VendorID              bigint,
    tpep_pickup_datetime  timestamp,
    tpep_dropoff_datetime timestamp,
    passenger_count       double,
    trip_distance         double,
    RatecodeID            double,
    store_and_fwd_flag    string,
    PULocationID          bigint,
    DOLocationID          bigint,
    payment_type          bigint,
    fare_amount           double,
    extra                 double,
    mta_tax               double,
    tip_amount            double,
    tolls_amount          double,
    improvement_surcharge double,
    total_amount          double,
    congestion_surcharge  double,
    airport_fee           double
)
USING iceberg
PARTITIONED BY (days(tpep_pickup_datetime))

++
||
++
++

# Write a month of data

In [12]:
df = spark.read.parquet("/home/iceberg/data/yellow_tripdata_2022-01.parquet")
df.writeTo("nyc.taxis").append()

In [13]:
%%sql

SELECT * FROM nyc.taxis

+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
| VendorID | tpep_pickup_datetime | tpep_dropoff_datetime | passenger_count | trip_distance | RatecodeID | store_and_fwd_flag | PULocationID | DOLocationID | payment_type | fare_amount | extra | mta_tax | tip_amount | tolls_amount | improvement_surcharge | total_amount | congestion_surcharge | airport_fee |
+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+-------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
|        2 |  2022-01-24 11:24:23 |   2022-01-24 11:48:16 |             1.0 |          6.93 |        1.0 |                  N |          138 |          141 |            1 |        23.5 |   0.0 |     0.5 |        4.0 |          0.0 |                   0.3 |        32.05 |                  2.5 |        1.25 |
|        2 |  2022-01-24 12:00:29 |   2022-01-24 12:05:03 |             1.0 |          0.85 |        1.0 |                  N |          162 |          140 |            2 |         5.0 |   0.0 |     0.5 |        0.0 |          0.0 |                   0.3 |          8.3 |                  2.5 |         0.0 |
|        2 |  2022-01-24 14:21:03 |   2022-01-24 14:48:06 |             1.0 |         15.25 |        1.0 |                  N |          138 |           13 |            1 |        41.5 |   0.5 |     0.5 |        5.0 |         6.55 |                   0.3 |         58.1 |                  2.5 |        1.25 |
|        2 |  2022-01-24 15:02:39 |   2022-01-24 15:23:38 |             1.0 |          4.71 |        1.0 |                  N |          144 |          143 |            1 |        18.5 |   0.5 |     0.5 |       4.46 |          0.0 |                   0.3 |        26.76 |                  2.5 |         0.0 |
|        2 |  2022-01-24 17:22:24 |   2022-01-24 17:56:38 |             1.0 |           9.5 |        1.0 |                  N |          138 |           65 |            1 |        32.0 |   0.5 |     0.5 |      10.36 |          0.0 |                   0.3 |        44.91 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:01:08 |   2022-01-24 00:10:00 |             2.0 |          1.28 |        1.0 |                  N |          114 |          148 |            1 |         7.5 |   0.5 |     0.5 |        3.0 |          0.0 |                   0.3 |         14.3 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:03:49 |   2022-01-24 00:19:26 |             1.0 |          7.88 |        1.0 |                  N |           79 |           42 |            1 |        23.5 |   0.5 |     0.5 |       8.19 |          0.0 |                   0.3 |        35.49 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:00:20 |   2022-01-24 00:21:02 |             1.0 |         16.01 |        1.0 |                  N |          132 |           80 |            1 |        43.0 |   0.5 |     0.5 |       9.11 |          0.0 |                   0.3 |        54.66 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:23:43 |   2022-01-24 00:29:15 |             1.0 |          0.96 |        1.0 |                  N |          162 |          230 |            1 |         6.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          9.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:48:55 |   2022-01-24 01:22:07 |             1.0 |          8.56 |        1.0 |                  N |          138 |          263 |            1 |        30.5 |   0.5 |     0.5 |       8.89 |          0.0 |                   0.3 |        44.44 |                  2.5 |        1.25 |
|        1 |  2022-01-24 00:26:38 |   2022-01-24 00:41:40 |             1.0 |           8.2 |        1.0 |                  N |           70 |          134 |            2 |        24.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         25.3 |                  0.0 |         0.0 |
|        2 |  2022-01-24 00:40:29 |   2022-01-24 00:41:58 |             1.0 |          0.01 |        5.0 |                  N |          265 |          265 |            1 |       100.0 |   0.0 |     0.0 |      20.06 |          0.0 |                   0.3 |       120.36 |                  0.0 |         0.0 |
|        2 |  2022-01-24 00:27:38 |   2022-01-24 00:34:05 |             1.0 |           1.5 |        1.0 |                  N |          186 |          161 |            2 |         7.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         10.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 01:00:14 |   2022-01-24 01:06:40 |             1.0 |          1.74 |        1.0 |                  N |           48 |          239 |            1 |         7.5 |   0.5 |     0.5 |       2.82 |          0.0 |                   0.3 |        14.12 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:17:42 |   2022-01-24 00:36:51 |             1.0 |         12.85 |        1.0 |                  N |          138 |           88 |            1 |        35.0 |   0.5 |     0.5 |      10.01 |          0.0 |                   0.3 |        50.06 |                  2.5 |        1.25 |
|        1 |  2022-01-24 00:02:10 |   2022-01-24 00:10:10 |             1.0 |           1.5 |        1.0 |                  N |          137 |           68 |            1 |         7.5 |   3.0 |     0.5 |        1.0 |          0.0 |                   0.3 |         12.3 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:12:55 |   2022-01-24 00:32:05 |             1.0 |           5.1 |        1.0 |                  N |           68 |            7 |            1 |        18.0 |   3.0 |     0.5 |       4.35 |          0.0 |                   0.3 |        26.15 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:15:43 |   2022-01-24 00:33:07 |             1.0 |          4.01 |        1.0 |                  N |          231 |           49 |            1 |        16.0 |   0.5 |     0.5 |       3.96 |          0.0 |                   0.3 |        23.76 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:10:40 |   2022-01-24 00:25:23 |             1.0 |          3.04 |        1.0 |                  N |          163 |          151 |            1 |        13.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         16.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:00:30 |   2022-01-24 00:05:57 |             1.0 |          1.58 |        1.0 |                  N |          142 |           50 |            1 |         7.0 |   0.5 |     0.5 |        1.0 |          0.0 |                   0.3 |         11.8 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:22:48 |   2022-01-24 00:26:16 |             1.0 |           1.2 |        1.0 |                  N |           48 |           68 |            1 |         5.5 |   3.0 |     0.5 |        2.3 |          0.0 |                   0.3 |         11.6 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:32:24 |   2022-01-24 00:40:29 |             1.0 |           1.0 |        1.0 |                  N |           68 |          107 |            3 |         7.5 |   3.0 |     0.5 |        0.0 |          0.0 |                   0.3 |         11.3 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:44:14 |   2022-01-24 00:59:35 |             1.0 |           7.1 |        1.0 |                  N |          234 |           42 |            1 |        22.0 |   3.0 |     0.5 |       6.45 |          0.0 |                   0.3 |        32.25 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:53:19 |   2022-01-24 01:11:31 |             1.0 |          11.7 |        1.0 |                  N |          132 |           92 |            1 |        32.5 |  1.75 |     0.5 |        4.0 |          0.0 |                   0.3 |        39.05 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:45:29 |   2022-01-24 00:53:31 |             1.0 |          3.23 |        1.0 |                  N |          141 |          224 |            1 |        11.0 |   0.5 |     0.5 |        1.0 |          0.0 |                   0.3 |         15.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:16:38 |   2022-01-24 02:32:13 |             1.0 |          9.51 |        1.0 |                  N |           79 |          107 |            2 |        35.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         38.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:04:04 |   2022-01-24 00:14:26 |             1.0 |          1.59 |        1.0 |                  N |           48 |          233 |            1 |         9.0 |   0.5 |     0.5 |        1.0 |          0.0 |                   0.3 |         13.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:41:46 |   2022-01-24 00:46:24 |             1.0 |          1.01 |        1.0 |                  N |          249 |          249 |            4 |        -5.5 |  -0.5 |    -0.5 |        0.0 |          0.0 |                  -0.3 |         -9.3 |                 -2.5 |         0.0 |
|        2 |  2022-01-24 00:41:46 |   2022-01-24 00:46:24 |             1.0 |          1.01 |        1.0 |                  N |          249 |          249 |            2 |         5.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          9.3 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:54:19 |   2022-01-24 00:57:47 |             2.0 |          0.88 |        1.0 |                  N |          249 |           90 |            1 |         5.0 |   0.5 |     0.5 |        2.0 |          0.0 |                   0.3 |         10.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:05:00 |   2022-01-24 00:22:32 |             1.0 |          6.69 |        1.0 |                  N |           48 |           42 |            2 |        21.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         25.3 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:36:35 |   2022-01-24 00:47:39 |             1.0 |           2.7 |        1.0 |                  N |          166 |          142 |            1 |        11.5 |   0.5 |     0.5 |        1.7 |          0.0 |                   0.3 |         17.0 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:11:12 |   2022-01-24 00:24:34 |             1.0 |          3.89 |        1.0 |                  N |           88 |           90 |            1 |        14.0 |   0.5 |     0.5 |       5.34 |          0.0 |                   0.3 |        23.14 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:06:28 |   2022-01-24 00:16:02 |             4.0 |           3.4 |        1.0 |                  N |          237 |            7 |            1 |        11.5 |   0.5 |     0.5 |        2.7 |          0.0 |                   0.3 |         18.0 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:48:59 |   2022-01-24 00:58:36 |             4.0 |          1.96 |        1.0 |                  N |          229 |          142 |            1 |         9.5 |   0.5 |     0.5 |       2.66 |          0.0 |                   0.3 |        15.96 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:36:42 |   2022-01-24 01:17:33 |             1.0 |         19.75 |        2.0 |                  N |          132 |           24 |            1 |        52.0 |   0.0 |     0.5 |        0.0 |         6.55 |                   0.3 |         60.6 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:04:34 |   2022-01-24 00:14:14 |             1.0 |          1.64 |        1.0 |                  N |          186 |          233 |            2 |         8.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         12.3 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:25:22 |   2022-01-24 00:40:16 |             1.0 |          3.51 |        1.0 |                  N |           90 |          237 |            1 |        14.0 |   0.5 |     0.5 |       4.45 |          0.0 |                   0.3 |        22.25 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:20:23 |   2022-01-24 00:28:22 |             1.0 |           3.1 |        1.0 |                  N |          264 |           93 |            1 |        11.0 |   0.5 |     0.5 |       3.08 |          0.0 |                   0.3 |        15.38 |                  0.0 |         0.0 |
|        2 |  2022-01-24 00:48:27 |   2022-01-24 01:13:09 |             1.0 |           8.1 |        1.0 |                  N |          138 |          262 |            1 |        28.0 |   0.5 |     0.5 |       7.67 |         6.55 |                   0.3 |        47.27 |                  2.5 |        1.25 |
|        1 |  2022-01-24 00:27:45 |   2022-01-24 01:14:51 |             2.0 |          13.7 |        1.0 |                  N |          132 |           61 |            1 |        46.0 |  1.75 |     0.5 |        3.0 |          0.0 |                   0.3 |        51.55 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:01:08 |   2022-01-24 00:23:35 |             1.0 |          10.2 |        1.0 |                  N |          138 |          239 |            1 |        30.0 |   0.5 |     0.5 |       8.07 |         6.55 |                   0.3 |        49.67 |                  2.5 |        1.25 |
|        1 |  2022-01-24 00:04:51 |   2022-01-24 00:10:52 |             3.0 |           1.4 |        1.0 |                  N |          237 |          142 |            1 |         6.5 |   3.0 |     0.5 |       2.05 |          0.0 |                   0.3 |        12.35 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:15:33 |   2022-01-24 00:22:17 |             1.0 |           1.4 |        1.0 |                  N |          239 |          236 |            1 |         7.0 |   3.0 |     0.5 |        2.7 |          0.0 |                   0.3 |         13.5 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:34:49 |   2022-01-24 00:45:22 |             2.0 |           2.0 |        1.0 |                  N |          263 |          143 |            1 |         9.0 |   3.0 |     0.5 |       2.55 |          0.0 |                   0.3 |        15.35 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:48:17 |   2022-01-24 01:00:37 |             2.0 |           3.1 |        1.0 |                  N |          239 |           90 |            1 |        11.5 |   3.0 |     0.5 |       3.05 |          0.0 |                   0.3 |        18.35 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:11:57 |   2022-01-24 00:14:00 |             2.0 |          0.44 |        1.0 |                  N |          234 |          234 |            2 |         3.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          7.3 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:15:06 |   2022-01-24 00:19:19 |             2.0 |          0.82 |        1.0 |                  N |          234 |          161 |            2 |         5.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |          8.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:22:45 |   2022-01-24 00:25:09 |             1.0 |           0.0 |        1.0 |                  N |          164 |          164 |            1 |         3.0 |   0.5 |     0.5 |        8.0 |          0.0 |                   0.3 |         14.8 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:35:27 |   2022-01-24 01:19:53 |             2.0 |         21.59 |        1.0 |                  N |          132 |           40 |            1 |        60.0 |   0.5 |     0.5 |      12.26 |          0.0 |                   0.3 |        74.81 |                  0.0 |        1.25 |
|        1 |  2022-01-24 00:13:00 |   2022-01-24 00:16:17 |             0.0 |           0.4 |        1.0 |                  N |          238 |          151 |            2 |         4.5 |   3.0 |     0.5 |        0.0 |          0.0 |                   0.3 |          8.3 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:22:44 |   2022-01-24 00:39:58 |             1.0 |           4.9 |        1.0 |                  N |          166 |          243 |            2 |        18.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         19.3 |                  0.0 |         0.0 |
|        2 |  2022-01-24 00:37:54 |   2022-01-24 00:43:24 |             1.0 |          1.51 |        1.0 |                  N |           50 |           90 |            1 |         7.0 |   0.5 |     0.5 |       2.16 |          0.0 |                   0.3 |        12.96 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:26:42 |   2022-01-24 00:31:41 |             1.0 |          1.09 |        1.0 |                  N |          100 |           90 |            1 |         5.5 |   0.5 |     0.5 |       1.86 |          0.0 |                   0.3 |        11.16 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:46:29 |   2022-01-24 00:52:53 |             1.0 |          1.76 |        1.0 |                  N |          234 |          162 |            1 |         7.5 |   0.5 |     0.5 |       2.82 |          0.0 |                   0.3 |        14.12 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:36:45 |   2022-01-24 00:56:06 |             1.0 |          4.38 |        1.0 |                  N |          151 |          247 |            2 |        17.0 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |         18.3 |                  0.0 |         0.0 |
|        2 |  2022-01-24 00:17:26 |   2022-01-24 00:53:27 |             2.0 |         13.38 |        1.0 |                  N |          132 |          188 |            1 |        41.5 |   0.5 |     0.5 |        0.0 |          0.0 |                   0.3 |        44.05 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:46:26 |   2022-01-24 01:02:31 |             1.0 |           3.8 |        1.0 |                  N |          100 |           41 |            1 |        14.5 |   0.5 |     0.5 |       3.66 |          0.0 |                   0.3 |        21.96 |                  2.5 |         0.0 |
|        1 |  2022-01-24 00:32:41 |   2022-01-24 00:54:09 |             1.0 |          13.5 |        1.0 |                  N |          138 |          132 |            2 |        36.5 |  1.75 |     0.5 |        0.0 |          0.0 |                   0.3 |        39.05 |                  0.0 |        1.25 |
|        2 |  2022-01-24 00:13:02 |   2022-01-24 00:17:27 |             1.0 |          1.28 |        1.0 |                  N |          186 |           48 |            1 |         6.0 |   0.5 |     0.5 |       1.47 |          0.0 |                   0.3 |        11.27 |                  2.5 |         0.0 |
|        2 |  2022-01-24 00:33:19 |   2022-01-24 00:35:51 |             1.0 |          0.97 |        1.0 |                  N |          100 |           48 |            1 |         4.5 |   0.5 |     0.5 |       2.08 |          0.0 |                   0.3 |        10.38 |                  2.5 |         0.0 |

# Create a view

Let's create an Iceberg view to look at the longest distances travelled and the total amount of the trips.

In [3]:
%%sql

create view nyc.sample_view as
    select 1 as idx

24/09/01 10:10:11 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/09/01 10:10:11 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/09/01 10:10:11 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/09/01 10:10:11 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

++
||
++
++

In [4]:
%%sql

describe extended nyc.sample_view

+------------------------------+-----------------------------------------------------------+---------+
|                     col_name |                                                 data_type | comment |
+------------------------------+-----------------------------------------------------------+---------+
|                          idx |                                                       int |    None |
|                              |                                                           |         |
| # Detailed Table Information |                                                           |         |
|                      Catalog |                                             spark_catalog |         |
|                     Database |                                                       nyc |         |
|                        Table |                                               sample_view |         |
|                        Owner |                                                      root |         |
|                 Created Time |                              Sun Sep 01 10:10:11 UTC 2024 |         |
|                  Last Access |                                                   UNKNOWN |         |
|                   Created By |                                               Spark 3.5.2 |         |
|                         Type |                                                      VIEW |         |
|                    View Text |                                           select 1 as idx |         |
|           View Original Text |                                           select 1 as idx |         |
|   View Catalog and Namespace |                                     spark_catalog.default |         |
|    View Query Output Columns |                                                     [idx] |         |
|             Table Properties |                        [transient_lastDdlTime=1725185411] |         |
|                Serde Library |        org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe |         |
|                  InputFormat |          org.apache.hadoop.mapred.SequenceFileInputFormat |         |
|                 OutputFormat | org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat |         |
|           Storage Properties |                                  [serialization.format=1] |         |
+------------------------------+-----------------------------------------------------------+---------+

In [5]:
spark.range(10).toDF("emp_ids").writeTo("nyc.df_write_check").using("iceberg").createOrReplace()

24/09/01 10:29:43 WARN HiveExternalCatalog: Couldn't find corresponding Hive SerDe for data source provider iceberg. Persisting data source table `spark_catalog`.`nyc`.`df_write_check` into Hive metastore in Spark SQL specific format, which is NOT compatible with Hive.
24/09/01 10:29:43 ERROR Utils: Aborting task
org.apache.spark.sql.AnalysisException: Table nyc.df_write_check does not support append in batch mode.;
AppendData RelationV2[emp_ids#14L] spark_catalog.nyc.df_write_check nyc.df_write_check, false
+- Project [id#9L AS emp_ids#11L]
   +- Range (0, 10, step=1, splits=Some(2))

	at org.apache.spark.sql.errors.QueryCompilationErrors$.unsupportedTableOperationError(QueryCompilationErrors.scala:1277)
	at org.apache.spark.sql.errors.QueryCompilationErrors$.unsupportedAppendInBatchModeError(QueryCompilationErrors.scala:1289)
	at org.apache.spark.sql.execution.datasources.v2.TableCapabilityCheck$.$anonfun$apply$1(TableCapabilityCheck.scala:50)
	at org.apache.spark.sql.execution.datasources.v2.TableCapabilityCheck$.$anonfun$apply$1$adapted(TableCapabilityCheck.scala:40)
	at org.apache.spark.sql.catalyst.trees.TreeNode.foreach(TreeNode.scala:234)
	at org.apache.spark.sql.execution.datasources.v2.TableCapabilityCheck$.apply(TableCapabilityCheck.scala:40)
	at org.apache.spark.sql.execution.datasources.v2.TableCapabilityCheck$.apply(TableCapabilityCheck.scala:32)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$60(CheckAnalysis.scala:822)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.$anonfun$checkAnalysis0$60$adapted(CheckAnalysis.scala:822)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0(CheckAnalysis.scala:822)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis0$(CheckAnalysis.scala:197)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis0(Analyzer.scala:202)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis(CheckAnalysis.scala:193)
	at org.apache.spark.sql.catalyst.analysis.CheckAnalysis.checkAnalysis$(CheckAnalysis.scala:171)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.checkAnalysis(Analyzer.scala:202)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.$anonfun$executeAndCheck$1(Analyzer.scala:225)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:330)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:222)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$analyzed$1(QueryExecution.scala:77)
	at org.apache.spark.sql.catalyst.QueryPlanningTracker.measurePhase(QueryPlanningTracker.scala:138)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$2(QueryExecution.scala:219)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:546)
	at org.apache.spark.sql.execution.QueryExecution.$anonfun$executePhase$1(QueryExecution.scala:219)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.QueryExecution.executePhase(QueryExecution.scala:218)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:77)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:74)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.execution.datasources.v2.V2CreateTableAsSelectBaseExec.$anonfun$writeToTable$1(WriteToDataSourceV2Exec.scala:577)
	at org.apache.spark.util.Utils$.tryWithSafeFinallyAndFailureCallbacks(Utils.scala:1397)
	at org.apache.spark.sql.execution.datasources.v2.V2CreateTableAsSelectBaseExec.writeToTable(WriteToDataSourceV2Exec.scala:573)
	at org.apache.spark.sql.execution.datasources.v2.V2CreateTableAsSelectBaseExec.writeToTable$(WriteToDataSourceV2Exec.scala:567)
	at org.apache.spark.sql.execution.datasources.v2.ReplaceTableAsSelectExec.writeToTable(WriteToDataSourceV2Exec.scala:135)
	at org.apache.spark.sql.execution.datasources.v2.ReplaceTableAsSelectExec.run(WriteToDataSourceV2Exec.scala:167)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result$lzycompute(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.result(V2CommandExec.scala:43)
	at org.apache.spark.sql.execution.datasources.v2.V2CommandExec.executeCollect(V2CommandExec.scala:49)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriterV2.runCommand(DataFrameWriterV2.scala:196)
	at org.apache.spark.sql.DataFrameWriterV2.internalReplace(DataFrameWriterV2.scala:208)
	at org.apache.spark.sql.DataFrameWriterV2.createOrReplace(DataFrameWriterV2.scala:134)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

AnalysisException: Table nyc.df_write_check does not support append in batch mode.;
AppendData RelationV2[emp_ids#14L] spark_catalog.nyc.df_write_check nyc.df_write_check, false
+- Project [id#9L AS emp_ids#11L]
   +- Range (0, 10, step=1, splits=Some(2))

In [4]:
%%sql

DESCRIBE EXTENDED nyc.student_new

24/09/01 10:26:10 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+------------------------------+-----------------------------------------------------------+---------+
|                     col_name |                                                 data_type | comment |
+------------------------------+-----------------------------------------------------------+---------+
|                           id |                                                       int |    None |
|                         name |                                                    string |    None |
|                          age |                                                       int |    None |
|                              |                                                           |         |
| # Detailed Table Information |                                                           |         |
|                      Catalog |                                             spark_catalog |         |
|                     Database |                                                       nyc |         |
|                        Table |                                               student_new |         |
|                        Owner |                                                      root |         |
|                 Created Time |                              Sun Sep 01 10:23:34 UTC 2024 |         |
|                  Last Access |                                                   UNKNOWN |         |
|                   Created By |                                               Spark 3.5.2 |         |
|                         Type |                                                   MANAGED |         |
|                     Provider |                                                   ICEBERG |         |
|             Table Properties |                            [owner=root, provider=ICEBERG] |         |
|                     Location |                     s3a://warehouse/wh/nyc.db/student_new |         |
|                Serde Library |        org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe |         |
|                  InputFormat |          org.apache.hadoop.mapred.SequenceFileInputFormat |         |
|                 OutputFormat | org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat |         |
|           Partition Provider |                                                   Catalog |         |
+------------------------------+-----------------------------------------------------------+---------+

In [3]:
%%sql

CREATE TABLE nyc.student_new_storedas (id INT, name STRING, age INT) STORED AS ICEBERG;

AnalysisException: STORED AS with file format 'ICEBERG' is invalid.

In [12]:
%%sql
DESCRIBE EXTENDED student

+------------------------------+-----------------------------------------------------------+---------+
|                     col_name |                                                 data_type | comment |
+------------------------------+-----------------------------------------------------------+---------+
|                           id |                                                       int |    None |
|                         name |                                                    string |    None |
|                          age |                                                       int |    None |
|                              |                                                           |         |
| # Detailed Table Information |                                                           |         |
|                      Catalog |                                             spark_catalog |         |
|                     Database |                                                   default |         |
|                        Table |                                                   student |         |
|                        Owner |                                                      root |         |
|                 Created Time |                              Sun Sep 01 10:17:10 UTC 2024 |         |
|                  Last Access |                                                   UNKNOWN |         |
|                   Created By |                                               Spark 3.5.2 |         |
|                         Type |                                                   MANAGED |         |
|                     Provider |                                                   ICEBERG |         |
|             Table Properties |                            [owner=root, provider=ICEBERG] |         |
|                     Location |                         file:/user/hive/warehouse/student |         |
|                Serde Library |        org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe |         |
|                  InputFormat |          org.apache.hadoop.mapred.SequenceFileInputFormat |         |
|                 OutputFormat | org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat |         |
|           Partition Provider |                                                   Catalog |         |
+------------------------------+-----------------------------------------------------------+---------+

In [ ]:
%%sql

CREATE VIEW spark_catalog.nyc.long_distances (
    vendor_id COMMENT 'Vendor ID',
    pickup_date,
    dropoff_date,
    distance COMMENT 'Trip Distance',
    total COMMENT 'Total amount')
    AS SELECT VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, trip_distance, total_amount FROM nyc.taxis ORDER BY trip_distance

In [ ]:
%%sql

SELECT * FROM nyc.long_distances

## Update View to order results differently

The output isn't as helpful as imagined, so let's update the view and change the order of columns and the ordering of the results.

In [ ]:
%%sql

CREATE OR REPLACE VIEW nyc.long_distances (
    distance COMMENT 'Trip Distance',
    total COMMENT 'Total amount',
    vendor_id COMMENT 'Vendor ID',
    pickup_date,
    dropoff_date)
    AS SELECT trip_distance, total_amount, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime
    FROM nyc.taxis
    WHERE trip_distance > 35 ORDER BY total_amount, trip_distance

In [ ]:
%%sql

SELECT * FROM nyc.long_distances

In [ ]:
%%sql

SELECT count(*) FROM nyc.long_distances

# Write a month of data

Let's write another month of data and see how the results of the view change

In [ ]:
df = spark.read.parquet("/home/iceberg/data/yellow_tripdata_2022-02.parquet")
df.writeTo("nyc.taxis").append()

In [ ]:
%%sql

SELECT * FROM nyc.long_distances

In [ ]:
%%sql

SELECT count(*) FROM nyc.long_distances

# Create another view
It appears that there are trips with negative total amounts. Let's display these results in a separate view

In [ ]:
%%sql

CREATE OR REPLACE VIEW nyc.negative_amounts (
    total COMMENT 'Total amount',
    distance COMMENT 'Trip Distance',
    vendor_id COMMENT 'Vendor ID',
    pickup_date,
    dropoff_date)
    AS SELECT total_amount, trip_distance, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime
    FROM nyc.taxis
    WHERE total_amount < 0 ORDER BY total_amount

In [ ]:
%%sql

SELECT * FROM nyc.negative_amounts

# Listing and describing views

In [ ]:
%%sql

SHOW VIEWS in nyc

In [ ]:
%%sql

SHOW VIEWS in nyc LIKE '*neg*'

In [ ]:
%%sql

DESCRIBE nyc.long_distances

In [ ]:
%%sql

DESCRIBE EXTENDED nyc.long_distances

# Displaying the CREATE statement of a view

In [ ]:
%%sql

SHOW CREATE TABLE nyc.long_distances

# Altering and displaying properties of a view

This will add a new property and also update the comment of the view. 
The comment will be shown when describing the view.
The end of this section will also remove a property from the view.

In [ ]:
%%sql

SHOW TBLPROPERTIES nyc.long_distances

In [ ]:
%%sql

ALTER VIEW nyc.long_distances SET TBLPROPERTIES ('key1' = 'val1', 'key2' = 'val2', 'comment' = 'This is a view comment')

In [ ]:
%%sql

SHOW TBLPROPERTIES nyc.long_distances

In [ ]:
%%sql

DESCRIBE EXTENDED nyc.long_distances

In [ ]:
%%sql

ALTER VIEW nyc.long_distances UNSET TBLPROPERTIES ('key1')

In [ ]:
%%sql

SHOW TBLPROPERTIES nyc.long_distances